@use './functions' as *;

// -------
// Font
// -------
$font: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
	'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

// -------
// Common sizes
// -------
$progress-bar-height: rem(12px);

// -------
// Transition duration
// -------
$duration: 0.3s;

// -------
// z-index
// -------
$header: 1000;

// -------
// path
// -------
$path-image: '../images';
